@page "/Todoist/Oauth"
@using System.Threading
@using Qrist.Adapters.Todoist.Authorisation
@inject ITodoistAuthoriser TodoistAuthoriser
@inject NavigationManager NavigationManager

<h3>ProcessCode</h3>

@code {

    [SupplyParameterFromQuery(Name = "code")]
    private string Code { get; set; }

    [SupplyParameterFromQuery(Name = "state")]
    private string State { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var id =
            await
                TodoistAuthoriser
                    .RetrieveAndCacheAccessTokenByIdAsync(Code, State, CancellationToken.None);

        if (!id.HasValue)
            throw new Exception("There was an error.");

        NavigationManager
            .NavigateTo($"/Todoist/ProcessAction/{id}");
    }

}