@rendermode InteractiveServer
@page "/Todoist/ProcessAction/{SessionId}"
@using System.Threading
@using Markdig
@using Qrist.Interfaces
@inject IQristApplication QristApplication
@inject NavigationManager NavigationManager

<p>@((MarkupString)_confirmationMessage)</p>

<button @onclick="@(ConfirmActionAsync)">Confirm</button>

@code {

    [Parameter] public string SessionId { get; set; }

    private Guid? _sessionId;

    private string _confirmationMessage;

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(SessionId, out var sessionId))
        {
            _sessionId = sessionId;

            try
            {
                var confirmationMessage =
                    await
                        QristApplication
                            .GetQrCodeActionConfirmationAsync(
                                sessionId,
                                CancellationToken.None
                            );

                _confirmationMessage =
                    Markdown
                        .ToHtml(confirmationMessage);

                StateHasChanged();
            }
            catch (Exception ex)
            {
                // TODO: redirect to error page
            }
        }
    }

    private async Task ConfirmActionAsync()
    {
        if (_sessionId.HasValue)
        {
            try
            {
                await
                    QristApplication
                        .ProcessQrCodeActionAsync(
                            _sessionId.Value,
                            CancellationToken.None
                        );
            }
            catch (Exception ex)
            {
                // TODO: redirect to error page
            }
        }
    }

}